In [1]:
import pandas as pd
import os
import numpy as np
os.chdir('c://users//administrator//desktop')

In [41]:
f = open('article111111112.txt')
articles = f.readlines()
#t = pd.read_csv('article111111112.txt')

In [42]:
len(articles)

50

In [68]:
#articles

In [3]:
os.chdir('D://DATATHON//output//test-INPUT//test-INPUT//tasks-2-3//test')

#pd.concat([a1,a2],axis =0,ignore_index=True)

filenames = os.listdir()
print(filenames)

['article111111111.task2.labels', 'article111111111.txt', 'article111111114.task2.labels', 'article111111114.txt', 'article111111115.task2.labels', 'article111111115.txt', 'article111111117.task2.labels', 'article111111117.txt', 'article111111121.task2.labels', 'article111111121.txt', 'article111111123.task2.labels', 'article111111123.txt', 'article111111133.task2.labels', 'article111111133.txt', 'article111111135.task2.labels', 'article111111135.txt', 'article698503276.task2.labels', 'article698503276.txt', 'article698719689.task2.labels', 'article698719689.txt', 'article699142854.task2.labels', 'article699142854.txt', 'article699478811.task2.labels', 'article699478811.txt', 'article700387229.task2.labels', 'article700387229.txt', 'article701299732.task2.labels', 'article701299732.txt', 'article701447437.task2.labels', 'article701447437.txt', 'article702111021.task2.labels', 'article702111021.txt', 'article703056647.task2.labels', 'article703056647.txt', 'article705035735.task2.labels', 'article705035735.txt', 'article706088110.task2.labels', 'article706088110.txt', 'article706501640.task2.labels', 'article706501640.txt', 'article706777811.task2.labels', 'article706777811.txt', 'article707451080.task2.labels', 'article707451080.txt', 'article707566605.task2.labels', 'article707566605.txt', 'article707772906.task2.labels', 'article707772906.txt', 'article708071969.task2.labels', 'article708071969.txt', 'article708487008.task2.labels', 'article708487008.txt', 'article708561738.task2.labels', 'article708561738.txt', 'article711716996.task2.labels', 'article711716996.txt', 'article718595845.task2.labels', 'article718595845.txt', 'article725276027.task2.labels', 'article725276027.txt', 'article725731328.task2.labels', 'article725731328.txt', 'article725824328.task2.labels', 'article725824328.txt', 'article727569885.task2.labels', 'article727569885.txt', 'article730019938.task2.labels', 'article730019938.txt', 'article730036755.task2.labels', 'article730036755.txt', 'article730061195.task2.labels', 'article730061195.txt', 'article730081389.task2.labels', 'article730081389.txt', 'article730093263.task2.labels', 'article730093263.txt', 'article730246508.task2.labels', 'article730246508.txt', 'article730269378.task2.labels', 'article730269378.txt', 'article738028498.task2.labels', 'article738028498.txt', 'article738361208.task2.labels', 'article738361208.txt', 'article738442776.task2.labels', 'article738442776.txt', 'article738447109.task2.labels', 'article738447109.txt', 'article738542398.task2.labels', 'article738542398.txt', 'article738781754.task2.labels', 'article738781754.txt', 'article740235127.task2.labels', 'article740235127.txt', 'article761568202.task2.labels', 'article761568202.txt', 'article761575506.task2.labels', 'article761575506.txt', 'article761722669.task2.labels', 'article761722669.txt', 'article761955563.task2.labels', 'article761955563.txt', 'article763114850.task2.labels', 'article763114850.txt', 'article763280007.task2.labels', 'article763280007.txt', 'article763412406.task2.labels', 'article763412406.txt', 'article772836731.task2.labels', 'article772836731.txt', 'article773650987.task2.labels', 'article773650987.txt', 'article776126299.task2.labels', 'article776126299.txt', 'article776385494.task2.labels', 'article776385494.txt', 'article777720051.task2.labels', 'article777720051.txt', 'article777785889.task2.labels', 'article777785889.txt', 'article777869943.task2.labels', 'article777869943.txt', 'article778094905.task2.labels', 'article778094905.txt', 'article778358096.task2.labels', 'article778358096.txt', 'article778507244.task2.labels', 'article778507244.txt', 'article778730964.task2.labels', 'article778730964.txt', 'article779309765.task2.labels', 'article779309765.txt', 'article781672902.task2.labels', 'article781672902.txt', 'article782149032.task2.labels', 'article782149032.txt', 'article782448403.task2.labels', 'article782448403.txt', 'article783774960.task2.labels', 'article783774960.txt', 'article784143418.task2.labels', 'article784143418.txt', 'article784382409.task2.labels', 'article784382409.txt', 'article785331076.task2.labels', 'article785331076.txt', 'article786004130.task2.labels', 'article786004130.txt', 'article787085939.task2.labels', 'article787085939.txt', 'article787730392.task2.labels', 'article787730392.txt', 'article787966255.task2.labels', 'article787966255.txt', 'article788271400.task2.labels', 'article788271400.txt', 'article788273361.task2.labels', 'article788273361.txt', 'article788626289.task2.labels', 'article788626289.txt', 'article788847916.task2.labels', 'article788847916.txt', 'article789454337.task2.labels', 'article789454337.txt', 'article789512681.task2.labels', 'article789512681.txt', 'article789753303.task2.labels', 'article789753303.txt', 'article790499380.task2.labels', 'article790499380.txt', 'article790666929.task2.labels', 'article790666929.txt', 'article794141509.task2.labels', 'article794141509.txt', 'article794344513.task2.labels', 'article794344513.txt', 'article798244842.task2.labels', 'article798244842.txt', 'article999000851.task2.labels', 'article999000851.txt', 'article999000858.task2.labels', 'article999000858.txt', 'article999000874.task2.labels', 'article999000874.txt', 'article999000878.task2.labels', 'article999000878.txt', 'article999001211.task2.labels', 'article999001211.txt', 'article999001256.task2.labels', 'article999001256.txt', 'article999001259.task2.labels', 'article999001259.txt', 'article999001280.task2.labels', 'article999001280.txt', 'article999001290.task2.labels', 'article999001290.txt', 'article999001299.task2.labels', 'article999001299.txt', 'article999001323.task2.labels', 'article999001323.txt', 'article999001419.task2.labels', 'article999001419.txt']

In [4]:
txt_files = list(filter(lambda x: x[-4:] == '.txt', filenames))
len(txt_files)

101

In [5]:
txt_files

['article111111111.txt',
 'article111111114.txt',
 'article111111115.txt',
 'article111111117.txt',
 'article111111121.txt',
 'article111111123.txt',
 'article111111133.txt',
 'article111111135.txt',
 'article698503276.txt',
 'article698719689.txt',
 'article699142854.txt',
 'article699478811.txt',
 'article700387229.txt',
 'article701299732.txt',
 'article701447437.txt',
 'article702111021.txt',
 'article703056647.txt',
 'article705035735.txt',
 'article706088110.txt',
 'article706501640.txt',
 'article706777811.txt',
 'article707451080.txt',
 'article707566605.txt',
 'article707772906.txt',
 'article708071969.txt',
 'article708487008.txt',
 'article708561738.txt',
 'article711716996.txt',
 'article718595845.txt',
 'article725276027.txt',
 'article725731328.txt',
 'article725824328.txt',
 'article727569885.txt',
 'article730019938.txt',
 'article730036755.txt',
 'article730061195.txt',
 'article730081389.txt',
 'article730093263.txt',
 'article730246508.txt',
 'article730269378.txt',
 'article738028498.txt',
 'article738361208.txt',
 'article738442776.txt',
 'article738447109.txt',
 'article738542398.txt',
 'article738781754.txt',
 'article740235127.txt',
 'article761568202.txt',
 'article761575506.txt',
 'article761722669.txt',
 'article761955563.txt',
 'article763114850.txt',
 'article763280007.txt',
 'article763412406.txt',
 'article772836731.txt',
 'article773650987.txt',
 'article776126299.txt',
 'article776385494.txt',
 'article777720051.txt',
 'article777785889.txt',
 'article777869943.txt',
 'article778094905.txt',
 'article778358096.txt',
 'article778507244.txt',
 'article778730964.txt',
 'article779309765.txt',
 'article781672902.txt',
 'article782149032.txt',
 'article782448403.txt',
 'article783774960.txt',
 'article784143418.txt',
 'article784382409.txt',
 'article785331076.txt',
 'article786004130.txt',
 'article787085939.txt',
 'article787730392.txt',
 'article787966255.txt',
 'article788271400.txt',
 'article788273361.txt',
 'article788626289.txt',
 'article788847916.txt',
 'article789454337.txt',
 'article789512681.txt',
 'article789753303.txt',
 'article790499380.txt',
 'article790666929.txt',
 'article794141509.txt',
 'article794344513.txt',
 'article798244842.txt',
 'article999000851.txt',
 'article999000858.txt',
 'article999000874.txt',
 'article999000878.txt',
 'article999001211.txt',
 'article999001256.txt',
 'article999001259.txt',
 'article999001280.txt',
 'article999001290.txt',
 'article999001299.txt',
 'article999001323.txt',
 'article999001419.txt']

In [7]:
articles = pd.DataFrame()
for name in txt_files:
    a = open(name, encoding= 'utf-8').readlines()
    df = pd.DataFrame(a,columns=['text'])
    articles = pd.concat([articles,df],axis =0 ,ignore_index = True)

articles

                                                   text
0     Next plague outbreak in Madagascar could be 's...
1                                                    \n
2     Geneva - The World Health Organisation chief o...
3                                                    \n
4     "The next transmission could be more pronounce...
5                                                    \n
6     An outbreak of both bubonic plague, which is s...
7                                                    \n
8     Madagascar has suffered bubonic plague outbrea...
9                                                    \n
10    The disease tends to make a comeback each hot ...
11    On average, between 300 and 600 infections are...
12                                                   \n
13    But Tedros voiced alarm that "plague in Madaga...
14                                                   \n
15    Cases sprang up far earlier than usual and, in...
16    The authorities recorded more than 2 000 cases...
17                                                   \n
18    He also pointed to the presence of the pneumon...
19                                                   \n
20    He praised the rapid response from WHO and Mad...
21                                                   \n
22    The larger-than-usual outbreak had helped spre...
23                                                   \n
24    This along with poor sanitation and vector con...
25                                                   \n
26    "That means that Madagascar could be affected ...
27                                                   \n
28    Complicating vector control is the fact that t...
29                                                   \n
...                                                 ...
4350  After lecturing Trump, Acosta belligerently re...
4351  On Nov. 16, U.S. District Judge Timothy J. Kel...
4352  But it was not a vindication of Acosta’s free ...
4353  The judge specifically said that the First Ame...
4354  The temporary restraining order was nowhere to...
4355  The White House vowed to remedy the situation ...
4356  The U.S. Department of Justice said the court ...
4357  “The President has broad authority to regulate...
4358  We look forward to continuing to defend the Wh...
4359  Acosta ignorantly blathered on to reporters wh...
4360  "I'm very grateful for what happened today," A...
4361  "I'm grateful for my colleagues in the press w...
4362  "This was a test and I think we passed the tes...
4363  "Journalists need to know that in this country...
4364  "Throughout all of this I was confident and I ...
4365                   The court case isn’t over yet.\n
4366  The legal antagonists have to report to the co...
4367  The court ordered the parties to “file a joint...
4368  According to CNN, “White House officials sent ...
4369           From the looks of the letter, the W.H.\n
4370  is trying to establish a paper trail that will...
4371  CNN responded with this statement on Sunday: "...
4372  These actions threaten all journalists and new...
4373  Jim Acosta and CNN will continue to report the...
4374  The Acosta-CNN lawsuit was filed by Ted Boutro...
4375  Olson was solicitor general in President Georg...
4376        (The legal complaint may be viewed here.)\n
4377  Boutrous said CNN is prepared to dig in for a ...
4378  "We're ready to litigate as long as we have to...
4379                                                 \n

[4380 rows x 1 columns]

In [10]:
lab_files = list(filter(lambda x: x[-12:] == 'task2.labels', filenames))
len(lab_files)

101

In [11]:
lable_df = pd.DataFrame()

for name in lab_files:
    labs = open(name).readlines()
    l1=[]
    for l in labs:
        l1.append(l.split('\t'))
    df = pd.DataFrame(l1,columns = ['a','b','c'])    
    lable_df = pd.concat([lable_df,df],axis =0 ,ignore_index = True)

lable_df

              a   b    c
0     111111111   1  ?\n
1     111111111   2  ?\n
2     111111111   3  ?\n
3     111111111   4  ?\n
4     111111111   5  ?\n
5     111111111   6  ?\n
6     111111111   7  ?\n
7     111111111   8  ?\n
8     111111111   9  ?\n
9     111111111  10  ?\n
10    111111111  11  ?\n
11    111111111  12  ?\n
12    111111111  13  ?\n
13    111111111  14  ?\n
14    111111111  15  ?\n
15    111111111  16  ?\n
16    111111111  17  ?\n
17    111111111  18  ?\n
18    111111111  19  ?\n
19    111111111  20  ?\n
20    111111111  21  ?\n
21    111111111  22  ?\n
22    111111111  23  ?\n
23    111111111  24  ?\n
24    111111111  25  ?\n
25    111111111  26  ?\n
26    111111111  27  ?\n
27    111111111  28  ?\n
28    111111111  29  ?\n
29    111111111  30  ?\n
...         ...  ..  ...
4350  999001419  14  ?\n
4351  999001419  15  ?\n
4352  999001419  16  ?\n
4353  999001419  17  ?\n
4354  999001419  18  ?\n
4355  999001419  19  ?\n
4356  999001419  20  ?\n
4357  999001419  21  ?\n
4358  999001419  22  ?\n
4359  999001419  23  ?\n
4360  999001419  24  ?\n
4361  999001419  25  ?\n
4362  999001419  26  ?\n
4363  999001419  27  ?\n
4364  999001419  28  ?\n
4365  999001419  29  ?\n
4366  999001419  30  ?\n
4367  999001419  31  ?\n
4368  999001419  32  ?\n
4369  999001419  33  ?\n
4370  999001419  34  ?\n
4371  999001419  35  ?\n
4372  999001419  36  ?\n
4373  999001419  37  ?\n
4374  999001419  38  ?\n
4375  999001419  39  ?\n
4376  999001419  40  ?\n
4377  999001419  41  ?\n
4378  999001419  42  ?\n
4379  999001419  43  ?\n

[4380 rows x 3 columns]

In [12]:
#lable_df['c'] = lable_df['c'].str.replace('\n','')
train=pd.concat([articles['text'],lable_df['a'],lable_df['c']],axis=1,ignore_index=True)

In [13]:
train.columns = ['news_text','news_number','news_type']

In [14]:
train['news_type'] = train['news_type'].str.replace('\n','')
train['news_text'] = train['news_text'].str.replace('\n','')

In [15]:
train.head()

                                           news_text news_number news_type
0  Next plague outbreak in Madagascar could be 's...   111111111         ?
1                                                      111111111         ?
2  Geneva - The World Health Organisation chief o...   111111111         ?
3                                                      111111111         ?
4  "The next transmission could be more pronounce...   111111111         ?

In [16]:
train.set_index(['news_number',])

                                                     news_text news_type
news_number
111111111    Next plague outbreak in Madagascar could be 's...         ?
111111111                                                              ?
111111111    Geneva - The World Health Organisation chief o...         ?
111111111                                                              ?
111111111    "The next transmission could be more pronounce...         ?
111111111                                                              ?
111111111    An outbreak of both bubonic plague, which is s...         ?
111111111                                                              ?
111111111    Madagascar has suffered bubonic plague outbrea...         ?
111111111                                                              ?
111111111    The disease tends to make a comeback each hot ...         ?
111111111    On average, between 300 and 600 infections are...         ?
111111111                                                              ?
111111111    But Tedros voiced alarm that "plague in Madaga...         ?
111111111                                                              ?
111111111    Cases sprang up far earlier than usual and, in...         ?
111111111    The authorities recorded more than 2 000 cases...         ?
111111111                                                              ?
111111111    He also pointed to the presence of the pneumon...         ?
111111111                                                              ?
111111111    He praised the rapid response from WHO and Mad...         ?
111111111                                                              ?
111111111    The larger-than-usual outbreak had helped spre...         ?
111111111                                                              ?
111111111    This along with poor sanitation and vector con...         ?
111111111                                                              ?
111111111    "That means that Madagascar could be affected ...         ?
111111111                                                              ?
111111111    Complicating vector control is the fact that t...         ?
111111111                                                              ?
...                                                        ...       ...
999001419    After lecturing Trump, Acosta belligerently re...         ?
999001419    On Nov. 16, U.S. District Judge Timothy J. Kel...         ?
999001419    But it was not a vindication of Acosta’s free ...         ?
999001419    The judge specifically said that the First Ame...         ?
999001419    The temporary restraining order was nowhere to...         ?
999001419    The White House vowed to remedy the situation ...         ?
999001419    The U.S. Department of Justice said the court ...         ?
999001419    “The President has broad authority to regulate...         ?
999001419    We look forward to continuing to defend the Wh...         ?
999001419    Acosta ignorantly blathered on to reporters wh...         ?
999001419    "I'm very grateful for what happened today," A...         ?
999001419    "I'm grateful for my colleagues in the press w...         ?
999001419    "This was a test and I think we passed the tes...         ?
999001419    "Journalists need to know that in this country...         ?
999001419    "Throughout all of this I was confident and I ...         ?
999001419                       The court case isn’t over yet.         ?
999001419    The legal antagonists have to report to the co...         ?
999001419    The court ordered the parties to “file a joint...         ?
999001419    According to CNN, “White House officials sent ...         ?
999001419               From the looks of the letter, the W.H.         ?
999001419    is trying to establish a paper trail that will...         ?
999001419    CNN responded with this statement on Sunday: "...         ?
999001419    These actions threaten all journalists and new...         ?
999001419    Jim Acosta and CNN will continue to report the...         ?
999001419    The Acosta-CNN lawsuit was filed by Ted Boutro...         ?
999001419    Olson was solicitor general in President Georg...         ?
999001419            (The legal complaint may be viewed here.)         ?
999001419    Boutrous said CNN is prepared to dig in for a ...         ?
999001419    "We're ready to litigate as long as we have to...         ?
999001419                                                              ?

[4380 rows x 2 columns]

In [18]:
train.to_csv('D://DATATHON//output//test-INPUT//test-INPUT//tasks-2-3//Task_2_test.csv')

In [77]:
task3_test = pd.read_csv("D:/DATATHON/output/test-INPUT/test-INPUT/tasks-2-3/Task_2_test.csv")

In [78]:
task3_test.head()

,Unnamed: 0,news_text,news_number,news_type
0,0,Next plague outbreak in Madagascar could be 's...,111111111,?
1,1,NaN,111111111,?
2,2,Geneva - The World Health Organisation chief o...,111111111,?
3,3,NaN,111111111,?
4,4,"""The next transmission could be more pronounce...",111111111,?

In [79]:
task3_test.columns =['sentence_id','news_text','news_number','news_type']

In [80]:
task3_test=task3_test.drop('news_type', axis=1)
task3_test.head()

   sentence_id                                          news_text  news_number
0            0  Next plague outbreak in Madagascar could be 's...    111111111
1            1                                                NaN    111111111
2            2  Geneva - The World Health Organisation chief o...    111111111
3            3                                                NaN    111111111
4            4  "The next transmission could be more pronounce...    111111111

In [81]:
task3_tes = task3_test.set_index(['sentence_id','news_number'])

In [82]:
task3_test1 = task3_tes['news_text']
# task3_test1.head(3)

In [51]:
task3_test1 = task3_test1.dropna()
task3_test1.head()

sentence_id  news_number
0            111111111      Next plague outbreak in Madagascar could be 's...
2            111111111      Geneva - The World Health Organisation chief o...
4            111111111      "The next transmission could be more pronounce...
6            111111111      An outbreak of both bubonic plague, which is s...
8            111111111      Madagascar has suffered bubonic plague outbrea...
Name: news_text, dtype: object

In [ ]:
### Train Data

In [24]:
dataframe = pd.read_csv("D:/DATATHON/Task_2_train.csv")

In [25]:
dataframe.head(1)

,Unnamed: 0,news_text,news_number,news_type
0,0,US bloggers banned from entering UK,111111112,non-propaganda

In [26]:
dataframe.columns =['sentence_id','news_text','news_number','news_type']

In [27]:
dataframe.head(5)

,sentence_id,news_text,news_number,news_type
0,0,US bloggers banned from entering UK,111111112,non-propaganda
1,1,NaN,111111112,non-propaganda
2,2,Two prominent US bloggers have been banned fro...,111111112,non-propaganda
3,3,NaN,111111112,non-propaganda
4,4,Pamela Geller and Robert Spencer co-founded an...,111111112,propaganda

In [28]:
df1 = dataframe.set_index(['sentence_id','news_number'])

In [29]:
df1.shape

(15170, 2)

In [30]:
df1.head(3)

,,news_text,news_type
sentence_id,news_number,,
0,111111112,US bloggers banned from entering UK,non-propaganda
1,111111112,NaN,non-propaganda
2,111111112,Two prominent US bloggers have been banned fro...,non-propaganda

In [31]:
df1.isnull().sum()

news_text    907
news_type      0
dtype: int64

In [32]:
df1['news_type'].value_counts()

non-propaganda    11230
propaganda         3940
Name: news_type, dtype: int64

In [33]:
df=df1.dropna()

In [35]:
df.isna().sum()

news_text    0
news_type    0
dtype: int64

In [36]:
y=df['news_type']
df2 = df.drop('news_type',axis=1)
df2.head(2)

                                                                 news_text
sentence_id news_number
0           111111112                  US bloggers banned from entering UK
2           111111112    Two prominent US bloggers have been banned fro...

In [38]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import HashingVectorizer

In [39]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC

In [40]:
from sklearn import metrics
from pandas_ml import ConfusionMatrix
from matplotlib import pyplot as plt
import itertools

In [41]:
X_train,X_test,y_train,y_test = train_test_split(df2['news_text'],y,test_size =0.3, random_state= 100)

In [42]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.8)

In [52]:
tfidf_train = tfidf_vectorizer.fit(X_train)
tfidf_train = tfidf_vectorizer.transform(X_train)
tfidf_task2_test = tfidf_vectorizer.transform(task3_test1)
# tfidf_dev=tfidf_vectorizer.transform(dev1['Title_Content'])

In [70]:
# linear_clf = PassiveAggressiveClassifier(max_iter=5,tol=1e-3,random_state=1)   # F1 : 0.509 
linear_clf = PassiveAggressiveClassifier(max_iter=9,tol = 0.0001,random_state=100) # 0.5119
# linear_clf = PassiveAggressiveClassifier(max_iter=90,tol = 0.0001,random_state=100) # 0.489
linear_clf.fit(tfidf_train, y_train)
task2_pred = linear_clf.predict(tfidf_task2_test)

# score_pa_tfidf = metrics.accuracy_score(y_test, pred)
# score_pa_tfidf = round(score_pa_tfidf,3)
# print("accuracy:   %0.3f" % score_pa_tfidf)
# tn,fp,fn,tp = metrics.confusion_matrix(y_test, pred, labels=['non-propaganda', 'propaganda']).ravel()
# R = (tp/(tp+fn)) # recall/sensitivity
# P = (tp/(tp+fp)) # precision
# F1_pa = (2*P*R)/(P+R)
# print(F1_pa)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:451: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)

In [71]:
task2_pred1=pd.DataFrame(task2_pred)

In [72]:
task2_pred1.head()

                0
0  non-propaganda
1  non-propaganda
2  non-propaganda
3      propaganda
4      propaganda

In [73]:
task2_pred1.shape

(4042, 1)

In [84]:
task2_pred1['sentence_id'] = task3_test['sentence_id']
# task3_test['sentence_id'].head()

In [87]:
task2_pred1['news_number'] = task3_test['news_number']
# ,task3_test(['sentence_id','news_number'])
task2_pred1.head()

                0  sentence_id  news_number
0  non-propaganda            0    111111111
1  non-propaganda            1    111111111
2  non-propaganda            2    111111111
3      propaganda            3    111111111
4      propaganda            4    111111111

In [88]:
task2_pred2 = pd.DataFrame({'label':task2_pred1[0],'sentence_id':task2_pred1['sentence_id'],
                            'news_number':task2_pred1['news_number']},
                           columns=['news_number','sentence_id','label'])
task2_pred2.head()

   news_number  sentence_id           label
0    111111111            0  non-propaganda
1    111111111            1  non-propaganda
2    111111111            2  non-propaganda
3    111111111            3      propaganda
4    111111111            4      propaganda

In [89]:
task2_pred2.to_csv('D:/DATATHON/output/Task2_output.txt', header = False,index=False, sep='\t',mode='a')